.App {
  text-align: center;
  display:flexbox;
  width: 90%;
  margin: 0 5% 0 0 ;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border: 2px solid blue;
 
}

.smurf-form {
  position: absolute;
  width: 50%;
  left:30%;
  top:10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header { 
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurf-container {
  width:20%;
  height: 20%;
  display: inline-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 1%;
  border: 2px solid red;
}

 /* .card-group {
  display: inline-flexbox;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2%;
  border: 2px solid blue;
} */

.smurf-card {
  display: inline-flexbox;
  padding-left: 10%;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
